{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Backend Promotor API",
    "description": "API documentation for Backend Promotor project",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://apipromotores.oficinabrasil.com.br",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Campanha",
      "description": "Operations related to campaigns"
    },
    {
      "name": "Promotor",
      "description": "Operations related to promoters"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/campanha/create": {
      "post": {
        "tags": [
          "Campanha"
        ],
        "summary": "Create a new campaign",
        "description": "Creates a new campaign with the provided data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "NOME": {
                    "type": "string",
                    "minLength": 1
                  },
                  "OBJETIVO": {
                    "type": "string"
                  },
                  "ID_CLIENT": {
                    "type": "number"
                  },
                  "START_TIME": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "END_TIME": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "CREATED_BY": {
                    "type": "string"
                  },
                  "promotores": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID_PROMOTOR": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": true
                        },
                        "ID_OFICINAS": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "minItems": 1
                        }
                      },
                      "required": [
                        "ID_PROMOTOR",
                        "ID_OFICINAS"
                      ]
                    }
                  }
                },
                "required": [
                  "NOME"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "number"
                        },
                        "NOME": {
                          "type": "string"
                        },
                        "OBJETIVO": {
                          "type": "string"
                        },
                        "ID_CLIENT": {
                          "type": "number"
                        },
                        "START_TIME": {
                          "type": "string"
                        },
                        "END_TIME": {
                          "type": "string"
                        },
                        "CREATED_BY": {
                          "type": "string"
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID",
                        "NOME"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha/edit/{id}": {
      "put": {
        "tags": [
          "Campanha"
        ],
        "summary": "Update an existing campaign",
        "description": "Updates a campaign with the provided data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "NOME": {
                    "type": "string",
                    "minLength": 1
                  },
                  "OBJETIVO": {
                    "type": "string"
                  },
                  "ID_CLIENT": {
                    "type": "number"
                  },
                  "START_TIME": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "END_TIME": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "CREATED_BY": {
                    "type": "string"
                  },
                  "promotores": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID_PROMOTOR": {
                          "type": "integer",
                          "minimum": 0,
                          "exclusiveMinimum": true
                        },
                        "ID_OFICINAS": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "minimum": 0,
                            "exclusiveMinimum": true
                          },
                          "minItems": 1
                        }
                      },
                      "required": [
                        "ID_PROMOTOR",
                        "ID_OFICINAS"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "number"
                        },
                        "NOME": {
                          "type": "string"
                        },
                        "OBJETIVO": {
                          "type": "string"
                        },
                        "ID_CLIENT": {
                          "type": "number"
                        },
                        "START_TIME": {
                          "type": "string"
                        },
                        "END_TIME": {
                          "type": "string"
                        },
                        "CREATED_BY": {
                          "type": "string"
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID",
                        "NOME"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha/delete/{id}": {
      "delete": {
        "tags": [
          "Campanha"
        ],
        "summary": "Delete a campaign (soft delete)",
        "description": "Soft deletes a campaign by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "number"
                        },
                        "NOME": {
                          "type": "string"
                        },
                        "OBJETIVO": {
                          "type": "string"
                        },
                        "ID_CLIENT": {
                          "type": "number"
                        },
                        "START_TIME": {
                          "type": "string"
                        },
                        "END_TIME": {
                          "type": "string"
                        },
                        "CREATED_BY": {
                          "type": "string"
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID",
                        "NOME"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha/ativa": {
      "get": {
        "tags": [
          "Campanha"
        ],
        "summary": "Get active campaign for a promoter",
        "description": "Returns the active campaign for a promoter based on the current datetime (between START_TIME and END_TIME). The response includes campaign details with a rotas array, where each rota contains its associated oficina details.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "ID_PROMOTOR",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "datetime",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Active campaign found or no active campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "ID_CAMPANHA": {
                          "type": "number"
                        },
                        "NOME": {
                          "type": "string"
                        },
                        "OBJETIVO": {
                          "type": "string"
                        },
                        "ID_CLIENT": {
                          "type": "number"
                        },
                        "START_TIME": {
                          "type": "string"
                        },
                        "END_TIME": {
                          "type": "string"
                        },
                        "CREATED_BY": {
                          "type": "number"
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        },
                        "rotas": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ID_ROTA_PROMOTOR": {
                                "type": "number"
                              },
                              "ID_OFICINA": {
                                "type": "number"
                              },
                              "ID_CAMPANHA_PROMOTOR": {
                                "type": "number"
                              },
                              "STATUS": {
                                "type": "string"
                              },
                              "SUCCESS": {
                                "type": "boolean"
                              },
                              "CHECKIN_TIME": {
                                "type": "string"
                              },
                              "DONE_AT": {
                                "type": "string"
                              },
                              "OBS": {
                                "type": "string"
                              },
                              "REDIRECT": {
                                "type": "string"
                              },
                              "CREATED_BY": {
                                "type": "number"
                              },
                              "CREATED_AT": {
                                "type": "string"
                              },
                              "UPDATED_AT": {
                                "type": "string"
                              },
                              "DELETED_AT": {
                                "type": "string"
                              },
                              "oficina": {
                                "type": "object",
                                "properties": {
                                  "ID_OFICINA": {
                                    "type": "number"
                                  },
                                  "NOME": {
                                    "type": "string"
                                  },
                                  "RAZAO_SOCIAL": {
                                    "type": "string"
                                  },
                                  "CNPJ": {
                                    "type": "string"
                                  },
                                  "EMAIL": {
                                    "type": "string"
                                  },
                                  "TELEFONE": {
                                    "type": "string"
                                  },
                                  "ENDERECO": {
                                    "type": "string"
                                  },
                                  "BAIRRO": {
                                    "type": "string"
                                  },
                                  "NUMERO": {
                                    "type": "string"
                                  },
                                  "CIDADE": {
                                    "type": "string"
                                  },
                                  "ESTADO": {
                                    "type": "string"
                                  },
                                  "CEP": {
                                    "type": "string"
                                  },
                                  "LOCALIZACAO": {
                                    "type": "string"
                                  },
                                  "ATIVO": {
                                    "type": "string"
                                  },
                                  "CREATED_AT": {
                                    "type": "string"
                                  },
                                  "UPDATED_AT": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "ID_OFICINA"
                                ]
                              }
                            },
                            "required": [
                              "ID_ROTA_PROMOTOR"
                            ]
                          }
                        }
                      },
                      "required": [
                        "ID_CAMPANHA",
                        "NOME",
                        "rotas"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha/": {
      "get": {
        "tags": [
          "Campanha"
        ],
        "summary": "Get all campaigns",
        "description": "Returns a list of all campaigns (non-deleted)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Campaigns retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "number"
                          },
                          "NOME": {
                            "type": "string"
                          },
                          "OBJETIVO": {
                            "type": "string"
                          },
                          "ID_CLIENT": {
                            "type": "number"
                          },
                          "START_TIME": {
                            "type": "string"
                          },
                          "END_TIME": {
                            "type": "string"
                          },
                          "CREATED_BY": {
                            "type": "string"
                          },
                          "CREATED_AT": {
                            "type": "string"
                          },
                          "UPDATED_AT": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "ID",
                          "NOME"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha/{id}": {
      "get": {
        "tags": [
          "Campanha"
        ],
        "summary": "Get campaign by ID",
        "description": "Returns a campaign by ID with its relationships (promoters with their routes and oficinas, and questions)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ID_CAMPANHA": {
                          "type": "number"
                        },
                        "NOME": {
                          "type": "string"
                        },
                        "OBJETIVO": {
                          "type": "string"
                        },
                        "ID_CLIENT": {
                          "type": "number"
                        },
                        "START_TIME": {
                          "type": "string"
                        },
                        "END_TIME": {
                          "type": "string"
                        },
                        "CREATED_BY": {
                          "type": "number"
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        },
                        "campanhaPromotores": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ID_CAMPANHA_PROMOTOR": {
                                "type": "number"
                              },
                              "ID_CAMPANHA": {
                                "type": "number"
                              },
                              "ID_PROMOTOR": {
                                "type": "number"
                              },
                              "CREATED_AT": {
                                "type": "string"
                              },
                              "UPDATED_AT": {
                                "type": "string"
                              },
                              "promotor": {
                                "type": "object",
                                "properties": {
                                  "ID_PROMOTOR": {
                                    "type": "number"
                                  },
                                  "NOME": {
                                    "type": "string"
                                  },
                                  "EMAIL": {
                                    "type": "string"
                                  },
                                  "CPF": {
                                    "type": "string"
                                  },
                                  "ID_CLIENT": {
                                    "type": "number"
                                  },
                                  "CREATED_BY": {
                                    "type": "number"
                                  },
                                  "CREATED_AT": {
                                    "type": "string"
                                  },
                                  "UPDATED_AT": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "ID_PROMOTOR",
                                  "NOME"
                                ]
                              },
                              "rotasPromotor": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "ID_ROTA_PROMOTOR": {
                                      "type": "number"
                                    },
                                    "ID_OFICINA": {
                                      "type": "number"
                                    },
                                    "ID_CAMPANHA_PROMOTOR": {
                                      "type": "number"
                                    },
                                    "STATUS": {
                                      "type": "string"
                                    },
                                    "SUCCESS": {
                                      "type": "boolean"
                                    },
                                    "CHECKIN_TIME": {
                                      "type": "string"
                                    },
                                    "DONE_AT": {
                                      "type": "string"
                                    },
                                    "OBS": {
                                      "type": "string"
                                    },
                                    "REDIRECT": {
                                      "type": "string"
                                    },
                                    "CREATED_BY": {
                                      "type": "number"
                                    },
                                    "CREATED_AT": {
                                      "type": "string"
                                    },
                                    "UPDATED_AT": {
                                      "type": "string"
                                    },
                                    "DELETED_AT": {
                                      "type": "string"
                                    },
                                    "oficina": {
                                      "type": "object",
                                      "properties": {
                                        "ID_OFICINA": {
                                          "type": "number"
                                        },
                                        "NOME": {
                                          "type": "string"
                                        },
                                        "RAZAO_SOCIAL": {
                                          "type": "string"
                                        },
                                        "CNPJ": {
                                          "type": "string"
                                        },
                                        "EMAIL": {
                                          "type": "string"
                                        },
                                        "TELEFONE": {
                                          "type": "string"
                                        },
                                        "ENDERECO": {
                                          "type": "string"
                                        },
                                        "BAIRRO": {
                                          "type": "string"
                                        },
                                        "NUMERO": {
                                          "type": "string"
                                        },
                                        "CIDADE": {
                                          "type": "string"
                                        },
                                        "ESTADO": {
                                          "type": "string"
                                        },
                                        "CEP": {
                                          "type": "string"
                                        },
                                        "LOCALIZACAO": {
                                          "type": "string"
                                        },
                                        "ATIVO": {
                                          "type": "string"
                                        },
                                        "CREATED_AT": {
                                          "type": "string"
                                        },
                                        "UPDATED_AT": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "ID_OFICINA"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "ID_ROTA_PROMOTOR"
                                  ]
                                }
                              }
                            },
                            "required": [
                              "ID_CAMPANHA_PROMOTOR"
                            ]
                          }
                        },
                        "campanhaPerguntas": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ID_PERGUNTAS": {
                                "type": "number"
                              },
                              "ID_CAMPANHA": {
                                "type": "number"
                              },
                              "TIPO": {
                                "type": "string"
                              },
                              "PERGUNTA": {
                                "type": "string"
                              },
                              "CREATED_AT": {
                                "type": "string"
                              },
                              "UPDATED_AT": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "ID_PERGUNTAS"
                            ]
                          }
                        }
                      },
                      "required": [
                        "ID_CAMPANHA",
                        "NOME"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha/client/{clientId}": {
      "get": {
        "tags": [
          "Campanha"
        ],
        "summary": "Get campaigns by client ID",
        "description": "Returns all campaigns for a specific client with relationships (promoters with their routes and oficinas, and questions)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaigns found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID_CAMPANHA": {
                            "type": "number"
                          },
                          "NOME": {
                            "type": "string"
                          },
                          "OBJETIVO": {
                            "type": "string"
                          },
                          "ID_CLIENT": {
                            "type": "number"
                          },
                          "START_TIME": {
                            "type": "string"
                          },
                          "END_TIME": {
                            "type": "string"
                          },
                          "CREATED_BY": {
                            "type": "number"
                          },
                          "CREATED_AT": {
                            "type": "string"
                          },
                          "UPDATED_AT": {
                            "type": "string"
                          },
                          "campanhaPromotores": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ID_CAMPANHA_PROMOTOR": {
                                  "type": "number"
                                },
                                "ID_CAMPANHA": {
                                  "type": "number"
                                },
                                "ID_PROMOTOR": {
                                  "type": "number"
                                },
                                "CREATED_AT": {
                                  "type": "string"
                                },
                                "UPDATED_AT": {
                                  "type": "string"
                                },
                                "promotor": {
                                  "type": "object",
                                  "properties": {
                                    "ID_PROMOTOR": {
                                      "type": "number"
                                    },
                                    "NOME": {
                                      "type": "string"
                                    },
                                    "EMAIL": {
                                      "type": "string"
                                    },
                                    "CPF": {
                                      "type": "string"
                                    },
                                    "ID_CLIENT": {
                                      "type": "number"
                                    },
                                    "CREATED_BY": {
                                      "type": "number"
                                    },
                                    "CREATED_AT": {
                                      "type": "string"
                                    },
                                    "UPDATED_AT": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "ID_PROMOTOR",
                                    "NOME"
                                  ]
                                },
                                "rotasPromotor": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "ID_ROTA_PROMOTOR": {
                                        "type": "number"
                                      },
                                      "ID_OFICINA": {
                                        "type": "number"
                                      },
                                      "ID_CAMPANHA_PROMOTOR": {
                                        "type": "number"
                                      },
                                      "STATUS": {
                                        "type": "string"
                                      },
                                      "SUCCESS": {
                                        "type": "boolean"
                                      },
                                      "CHECKIN_TIME": {
                                        "type": "string"
                                      },
                                      "DONE_AT": {
                                        "type": "string"
                                      },
                                      "OBS": {
                                        "type": "string"
                                      },
                                      "REDIRECT": {
                                        "type": "string"
                                      },
                                      "CREATED_BY": {
                                        "type": "number"
                                      },
                                      "CREATED_AT": {
                                        "type": "string"
                                      },
                                      "UPDATED_AT": {
                                        "type": "string"
                                      },
                                      "DELETED_AT": {
                                        "type": "string"
                                      },
                                      "oficina": {
                                        "type": "object",
                                        "properties": {
                                          "ID_OFICINA": {
                                            "type": "number"
                                          },
                                          "NOME": {
                                            "type": "string"
                                          },
                                          "RAZAO_SOCIAL": {
                                            "type": "string"
                                          },
                                          "CNPJ": {
                                            "type": "string"
                                          },
                                          "EMAIL": {
                                            "type": "string"
                                          },
                                          "TELEFONE": {
                                            "type": "string"
                                          },
                                          "ENDERECO": {
                                            "type": "string"
                                          },
                                          "BAIRRO": {
                                            "type": "string"
                                          },
                                          "NUMERO": {
                                            "type": "string"
                                          },
                                          "CIDADE": {
                                            "type": "string"
                                          },
                                          "ESTADO": {
                                            "type": "string"
                                          },
                                          "CEP": {
                                            "type": "string"
                                          },
                                          "LOCALIZACAO": {
                                            "type": "string"
                                          },
                                          "ATIVO": {
                                            "type": "string"
                                          },
                                          "CREATED_AT": {
                                            "type": "string"
                                          },
                                          "UPDATED_AT": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "ID_OFICINA"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "ID_ROTA_PROMOTOR"
                                    ]
                                  }
                                }
                              },
                              "required": [
                                "ID_CAMPANHA_PROMOTOR"
                              ]
                            }
                          },
                          "campanhaPerguntas": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ID_PERGUNTAS": {
                                  "type": "number"
                                },
                                "ID_CAMPANHA": {
                                  "type": "number"
                                },
                                "TIPO": {
                                  "type": "string"
                                },
                                "PERGUNTA": {
                                  "type": "string"
                                },
                                "CREATED_AT": {
                                  "type": "string"
                                },
                                "UPDATED_AT": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "ID_PERGUNTAS"
                              ]
                            }
                          }
                        },
                        "required": [
                          "ID_CAMPANHA",
                          "NOME"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha-perguntas/create": {
      "post": {
        "tags": [
          "Campanha Perguntas"
        ],
        "summary": "Create a new campaign question",
        "description": "Creates a new question for a campaign with the provided data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ID_CAMPANHA": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "PERGUNTA": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "TIPO": {
                    "type": "string",
                    "enum": [
                      "String",
                      "Integer",
                      "Boolean",
                      "Date",
                      "Float",
                      "Image"
                    ]
                  }
                },
                "required": [
                  "ID_CAMPANHA",
                  "PERGUNTA",
                  "TIPO"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Question created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ID_PERGUNTAS": {
                          "type": "number"
                        },
                        "ID_CAMPANHA": {
                          "type": "number"
                        },
                        "PERGUNTA": {
                          "type": "string"
                        },
                        "TIPO": {
                          "type": "string",
                          "enum": [
                            "String",
                            "Integer",
                            "Boolean",
                            "Date",
                            "Float",
                            "Image"
                          ]
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID_PERGUNTAS"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha-perguntas/edit/{id}": {
      "put": {
        "tags": [
          "Campanha Perguntas"
        ],
        "summary": "Update an existing campaign question",
        "description": "Updates a campaign question with the provided data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ID_CAMPANHA": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "PERGUNTA": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "TIPO": {
                    "type": "string",
                    "enum": [
                      "String",
                      "Integer",
                      "Boolean",
                      "Date",
                      "Float",
                      "Image"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ID_PERGUNTAS": {
                          "type": "number"
                        },
                        "ID_CAMPANHA": {
                          "type": "number"
                        },
                        "PERGUNTA": {
                          "type": "string"
                        },
                        "TIPO": {
                          "type": "string",
                          "enum": [
                            "String",
                            "Integer",
                            "Boolean",
                            "Date",
                            "Float",
                            "Image"
                          ]
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID_PERGUNTAS"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Question not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/campanha-perguntas/delete/{id}": {
      "delete": {
        "tags": [
          "Campanha Perguntas"
        ],
        "summary": "Delete a campaign question (soft delete)",
        "description": "Soft deletes a campaign question by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Question deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "ID_PERGUNTAS": {
                          "type": "number"
                        },
                        "ID_CAMPANHA": {
                          "type": "number"
                        },
                        "PERGUNTA": {
                          "type": "string"
                        },
                        "TIPO": {
                          "type": "string",
                          "enum": [
                            "String",
                            "Integer",
                            "Boolean",
                            "Date",
                            "Float",
                            "Image"
                          ]
                        },
                        "CREATED_AT": {
                          "type": "string"
                        },
                        "UPDATED_AT": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ID_PERGUNTAS"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - token missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Question not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "field",
                          "message",
                          "code"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        },
[...]
